<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin page</title>
  </head>
  <body>
    <% if(req.session.auth_user && req.session.auth_user.role == "admin") {%>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="/">Office Collaborator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/list/employ">List Employs</a>

      </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0"> -->
    
      <button class="btn btn-secondary float-right" id="logout">Logout</button>
    <!-- </form> -->
  </div>
</nav>
    <h1 class="text-center text-secondary">Add Employ</h1>
    <div id="message">
      
    </div>




    <form class="container col-lg-6">
       <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="name" >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
     <div class="mb-3">
    <label for="Designation" class="form-label">Designation</label>
    <input type="text" name="designation" class="form-control" id="Designation" >
  </div>

       <div class="mb-3">
    <label for="Band" class="form-label">Band</label>
    <input type="text" name="band" class="form-control" id="Band" >
  </div>

       <div class="mb-3">
    <label for="ReportingManager" class="form-label">Reporting Manager</label>
    <input type="text" name="reporting_manager" class="form-control" id="ReportingManager" >
  </div>
       <div class="mb-3">
    <label for="AllocatedProject" class="form-label">Allocated Project</label>
    <input type="text" name="allocated_project" class="form-control" id="AllocatedProject" >
  </div>
  <button type="submit" class="btn btn-secondary" id="submitbtn">Submit</button>
</form>
<% } else{%>
<script type="text/javascript">
  window.location="/"
</script>
<% } %>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
 <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script type="text/javascript">
   document.getElementById('submitbtn').addEventListener("click",AddEmploy);

   function AddEmploy(e)
   {
    e.preventDefault()
    var list =Array.from(document.querySelectorAll('input'))
    var formdata= {}
    list.map(elem=>{
      formdata[elem.name]=elem.value
    })

   // console.log(...formdata)
    axios.post('/api/add/employ',formdata).then(resp=>{
      if(resp.data.success == 1)
      {
        console.log(resp.data.message)
        document.getElementById("message").innerHTML=`<div class="alert alert-success text-center" role="alert">
  ${resp.data.message}
</div>`
      }
      else
      {
        console.log("error in adding employ",resp.data.message)
               document.getElementById("message").innerHTML=`<div class="alert alert-danger text-center" role="alert">
  ${resp.data.message}
</div>`
      }
    })
   }

        document.getElementById("logout").addEventListener("click",function(e){
        // e.preventDefault()
        axios.get('/api/user/logout').then((data)=>{
          console.log(data.data)
          location.reload()
          // window.location="/"
        })
      })
 </script>

  </body>
</html>
