<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Update Employ Profile !</title>
  </head>
  <body>
    <% if(req.session.auth_user) {%>
     <div class="container">
      <button class="btn btn-secondary float-right" id="logout">Logout</button>
          <div id="message">
      
    </div>
   <form class="container col-lg-6" method="post">
       <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="name" value=<%= resp.data.data.name? resp.data.data.name: "" %> >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> address</label>
    <input type="address" name="address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value=<%= resp.data.data.address? resp.data.data.address : "" %> >
   
  </div>


       <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" name="phone" class="form-control" id="Phone" value=<%= resp.data.data.phone ? resp.data.data.phone : "" %> >
  </div>

      <div class="mb-3">
    <label for="skills" class="form-label">Skills</label>
    <input type="text" name="skills" class="form-control" id="Skills" value=<%= resp.data.data.skills ? resp.data.data.skills:"" %> >
  </div>

 
  <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>
</form>
    </div>
    <% } else{ %>
    <script type="text/javascript">
      window.location="/"
    </script>
    <%} %>


 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.getElementById('submitbtn').addEventListener("click",function(e){
        e.preventDefault()
                var list =Array.from(document.querySelectorAll('input'))
                var role=document.getElementById('role').value
    var formdata= {}
    list.map(elem=>{
      formdata[elem.name]=elem.value.trim()
    })

    formdata["role"]=role

    axios.post('/api/update/user',formdata).then(resp=>{
      if(resp.data.success == 1)
      {
                                   document.getElementById("message").innerHTML=`<div class="alert alert-success text-center" role="alert">
  ${resp.data.message}
</div>`
      }
      else
      {
                                   document.getElementById("message").innerHTML=`<div class="alert alert-danger text-center" role="alert">
  ${resp.data.message}
</div>`

      }
    })

      })

      document.getElementById("logout").addEventListener("click",function(e){
        // e.preventDefault()
        axios.get('/api/user/logout').then((data)=>{
          console.log(data.data)
          location.reloaad()
          window.location="/"
        })
      })
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


